name: Release

on:
  push:
    tags:
      - 'v*'
permissions:
  contents: write
  id-token: write # to use OpenID Connect token for provenance (changesets/action)
jobs:
  release:
    uses: sxzz/workflows/.github/workflows/release.yml@v1
    with:
      publish: true
